*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: 'Lexend', sans-serif;
}

body {
    background-image: url("../images/eduardo-enrietti-_F69aqED-eg-unsplash.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(161, 161, 215, 0.1);
  color: white;
}

.big-container-right {
  height: 100vh;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(189, 217, 205, 0.5);
}

.info-card-container {
  height: 30vh;
  display: flex;
  padding: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  background-color: rgb(56, 105, 148, 0.6); 
}

.first-name {
  font-size: 3em;
}

.user-info-box,
.step-goal-box {
  height: 10em;
  width: 20em;
  padding: 1em;
  float: right;
  display: flex;
  align-items: center;
  background-color: rgb(33, 68, 87, 0.8);
  border: 2px;
  border-radius: 5px;
}

.step-goal-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  align-items: flex-start;
}

.chart-container {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em;
  background-color: rgb(142, 174, 187, 0.9);
}

.canvas {
  height: 325px;
  width: 300px;
}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: .1px solid #f1f1f1;
  border-radius: 5px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  backface-visibility: hidden;
}

.flip-box-front {
  background-image: url('../images/page-curl.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-size: 30px;
  color: black;
  cursor: pointer;
}

.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  cursor: pointer;
}

.widget-container {
  height: 20vh;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.widget1,
.widget2,
.widget3,
.widget4,
.widget5,
.widget6, 
.widget7,
.widget8 {
  height: 15em;
  width: 13em;
  padding: 1em;
  border-radius: 15%;
  text-align: center;
  font-size: .8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(33, 68, 87, 0.9);
}

.widgetDataNumber {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.widgetDataNumberMiniSize {
  font-weight: bold;
  font-style: italic;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  padding: 10px;
  justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: rgba(142, 174, 187, 0.5);
}

.sleepForm {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-evenly;
  align-items: center;
}

input, button {
  width: 90%;
}

.popup {
  /* visibility: hidden; */
  width: 80%;
  background-color: rgba(33, 68, 87, 0.6);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
}

